* {
    box-sizing: border-box;
}

/* General styles */
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* Navbar */
.navbar {
    margin: 0;
    z-index: 999;
    width: 75%;
    position: fixed;
    left: 13%;
    height: 50px;
    background: rgb(255,254,190);
    background: linear-gradient(90deg, rgba(255,254,190,1) 0%, rgba(226,162,255,1) 100%);
    border-radius: 0 0 25px 25px;
}

.nav-logo {
    float: left;
    margin: 0;
    position: relative;
    top: 25%;
    left: 3%;
    color: #000000;
}

.nav-logo:hover, .nav-links a:hover {
    font-weight: bold;
    transition: all 0.3s linear;
}

.nav-links {
    float: right;
    position: relative;
    top: 25%;
    right: 3%;
}

.nav-links a {
    padding-left: 10px;
    color: #000000;
}

/* Main Block styling */
.main-block {
    margin-left: 50px;
}

.main-img img {
    height: 400px;
    width: 300px;
    margin-left: 35%;
    margin-top: 100px;
    z-index: 1;
    /* position: fixed; */
}

.main-img img:hover {
    transform: translateY(10px);
    opacity: 0.7;
    transition: all 0.3s linear;
}

.main-text-box {
    margin-top: -75px;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    height: auto;
    padding: 20px;
    width: 300px;
    font-size: 40px;
    text-align: center;
    margin-left: 35%;
    background: rgba(255,254,190,0.94);
    background: linear-gradient(130deg, rgba(255,254,190,0.94) 0%, rgba(226,162,255,0.94) 100%);
}

/* Product Grid */
.img-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    align-content: space-evenly;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .img-grid {
        grid-template-columns: 50% 50%;
    }

    .item {
        margin: 10px;
    }
}

@media screen and (max-width: 767px) {
    .img-grid {
        grid-template-columns: 1fr;
    }

    .nav-links {
        font-size: smaller;
    }
}

.item .item-img {
    background-color: rgb(236, 195, 247);
    background-image: none;
    height: 200px;
    /* width: 80%; */
}

.item:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.336) 5px 5px 5px;
    transition: all 0.3s linear;
}

.item-details {
    padding: 30px;
    font-weight: bold;
}

.item-details p, .item-desc .left p, .item-desc .right p {
    font-size: 15px;
    color: rgb(75, 75, 75);
}

.item {
    margin: 20px;
    background: linear-gradient(10deg, rgba(255,254,190,0.8) 0%, rgba(226,162,255,0.9) 100%);
    border: 0px solid #000;
    border-radius: 20px;
    box-shadow: 0 1px 7px 0 #dddcdc;
}

.item-desc {
    font-size: 17px;
    padding-top: 25px;
}

.item-details .left {
    float: left;
}

.item-desc .right {
    float: right;
}
